.SearchResult {
    width: 20%;
    margin: 2rem 2.5%;
    color: #fff;
}

.SearchResult img {
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin: auto;
}

.SearchResult h2 {
    margin-block-end: 0;
}

.SearchResult h3 {
    margin-block-start: .25em;
    margin-block-end: .25em;
}

.SearchResult p {
    margin-block-start: .25em;
}

.learn-more-link {
    color: #fff;
    font-size: 1.5rem;
    width: 100%;
    height: 50px;
    text-align: center;
}

.learn-more-link:hover {
    color: rgb(0, 51, 44);
}

@media only screen and (max-width: 1024px) {
    .SearchResult {
        width: 50%;
        margin: 1rem 0;
        color: #fff;
    }

    .SearchResult img {
        max-width: 100px;
        max-height: 100px;
    }
  }